.profile-section {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 10;
  max-width: 30px;
}

.profile-logo {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}